<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/59fec8f8ba.js" crossorigin="anonymous"></script>
    <title>Invoice Problem</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="https://www.adaniports.com/-/media/E22DAD7A3F5B4EF484A6D41626D9BEB4.ashx" alt="Adani Ports" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <a class="nav-link text-primary" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <%if(!currentUser){%>
                    <a class="btn text-purple btn-outline-purple my-2 my-sm-0" href="/home/login">Login</a>
                    <a class="btn text-pink btn-outline-pink my-2 mx-3 my-sm-0" href="/home/register">Register</a>
                    <% }else{ %>
                        <a class="btn text-danger btn-outline-danger my-2 my-sm-0" href="/home/logout">Logout</a>
                        <% } %>
            </div>
        </div>

    </nav>
    <hr>
    <div class="container">