<%- include('partials/header.ejs')-%>
    <div class="container">
        <center>
            <div id="banner_content">
                <h1 class="display-4 gap row justify-content-center " style="border-bottom:1px solid white; display:inline;">ABOUT</h1>
                <br>
                <br>
                <div class="row justify-content-center">
                    <ul>
                        <h5>
                            <li><a href="https://github.com/Tarang-singhal/project1.git" target="_blank">GitHub repo</a></li>
                        </h5>
                        <h5>
                            <li><a href="https://tarang-singhal2.herokuapp.com" target="_blank">Deploy site</a></li>
                        </h5>
                    </ul>
                </div>
            </div>
        </center>
    </div>
    <%- include('partials/footer.ejs')-%>