<%- include('partials/header.ejs')-%>
<div class="container ">
    <h1 class="display-4 gap row justify-content-center">ABOUT</h1>
    <hr class="landing-hr" style="margin-bottom:20px;">
    <div class="row justify-content-center">
        <ul>
            <h5>
                <li><a style="color:black;" href="https://github.com/Tarang-singhal/project1.git" target="_blank">GitHub repo</a></li>
            </h5>
            <h5>
                <li><a style="color:black;" href="https://tarang-singhal2.herokuapp.com" target="_blank">Deploy site</a></li>
            </h5>
        </ul>
    </div>
</div>
    <%- include('partials/footer.ejs')-%>