<%- include('partials/header.ejs')-%>
    <main class="row justify-content-center gap">
        <div><a href="/home/dashboard/payment/partial" class="btn btn-secondary mx-3">Partial Payment</a></div>
        <div><a href="/home/dashboard/payment/usecredit" class="btn btn-secondary mx-3">Partial Payment</a></div>
        <div><a href="/home/dashboard/payment/complete" class="btn btn-secondary mx-3">Complete Payment</a></div>
    </main>

    <%- include('partials/footer.ejs')-%>