<%- include('partials/header.ejs')-%>
    <div class="row justify-content-md-center gap">
        <div class="col-md-6">
            <form action="/paywithpaytm" method="GET">
                <h2>Payment</h2>
                <div class="form-group">
                    <input type="number" style="display: none;" class="form-control" name="amount" id="amount" value="<%=currentUser.total_outstanding%>">
                </div>
                <button type="submit" class="btn btn-primary btn-block">pay</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs')-%>