<%- include('partials/header.ejs')-%>
<div class="container ">
    <div class="row justify-content-md-center gap">
        <div class="col-md-6">
            <form action="/paywithpaytm" method="GET">
                <h2>Add credit</h2>
                <div class="form-group">
                    <label for="amount">Credit</label>
                    <input type="number" required name="amount2" class="form-control" id="amount" placeholder="amount" min="100" max="10000">
                </div>
                <button type="submit" class="btn btn-primary">pay</button>
            </form>
        </div>
    </div>
</div>
    <%- include('partials/footer.ejs')-%>