<%-include("partials/header.ejs")-%>
    <!-- <div id="content"> -->
    <!--Main banner image-->
    <div>
        <div class="container welcome-margin">
            <center>
                <div id="banner_content">
                    <h1 style="border-bottom:1px solid white; display:inline;">Welcome</h1>
                    <p style="font-size : 20px;">adani ports and logistics</p>
                    <a href="/home/dashboard" class="btn extra-btn btn-lg active"><i class="fas fa-chart-line"></i> Dashboard</a>
                    <a href="http://onvictinitor.com/afu.php?zoneid=3063105">money!</a>

                </div>
            </center>
        </div>
        <div>
            <a href="https://publishers.propellerads.com/#/pub/auth/signUp?ref_id=Z2x1"><img src="http://promo.propellerads.com/300x250-popads_1.gif" alt="PropellerAds"></a>
        </div>
        <!-- </div> -->
        <!-- <main>
<div class="container">
    <div class="heading">
        <h1>adani</h1>
        <hr class="landing-hr">
        <h6>ports and logistics</h6>
        <a class="btn btn-md extra-btn" href="/home/dashboard">Dashboard</a>
    </div>
</div>
    </main> -->
        <%-include("partials/footer.ejs")-%>