<%- include('partials/header.ejs')-%>

<main>
<div class="container">
    <div class="heading">
        <h1>adani</h1>
        <hr class="landing-hr">
        <h6>ports and logistics</h6>
        <a class="btn btn-md extra-btn" href="/home/dashboard">Dashboard</a>
    </div>
</div>
	</main>
    <%- include('partials/footer.ejs')-%>

