<%- include('partials/header.ejs')-%>
    <div class="heading">
        <h1>Adani</h1>
        <h6>ports and logistics</h6>
        <a class="btn btn-md btn-primary" href="/home/dashboard">Dashboard</a>
    </div>
    <%- include('partials/footer.ejs')-%>