:root {
    min-height: 100%;
}

body {
    min-height: 100%;
}

#content {
    min-height: 100vh;
}

#banner_image {
    padding-bottom: 50px;
    background: url("https://images.unsplash.com/photo-1449586919022-f3dfddc48a71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center;
    background-size: cover;
}

.welcome-margin {
    margin-top: 8%;
    margin-bottom: 8%
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 5.4%;
    margin-bottom: 5.6%;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 660px;
    color: white;
}

.heading h1 {
    font-size: 5rem;
    font-weight: 500 !important;
}

.heading h6 {
    font-size: 1.2rem;
    font-weight: 600!important;
}

.choice-btn {
    background-color: #6d1775fc;
    border-color: #6d1775fc;
    color: white;
}

.choice-btn:hover {
    background-color: #4d1052fc;
    color: white;
    outline: 0;
}

.choice-btn:active {
    outline: 0;
}

.text-purple {
    color: var(--purple)!important;
}

.btn {
    outline: 0;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
}

.extra-btn {
    border: 0;
    background: linear-gradient(to right, #2657eb 0%, #de6161 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
}

.btn-outline-purple {
    border-color: var(--purple)!important;
}

.text-pink {
    color: var(--pink)!important;
}

.btn-outline-pink {
    border-color: var(--pink)!important;
}

hr {
    width: 90vw;
    margin: 0 auto;
}

.heading {
    margin-top: 18vh;
    text-align: center;
    background-image: url();
}

.gap {
    margin-top: 4vh;
}

.jumbotron {
    padding: 1.2em 2em;
    border-radius: 2em;
    background-color: white;
    box-shadow: rgb(54, 52, 52) 1px 1px 10px 1px;
}

.jumbotron h6 {
    margin: 0 auto 0 0;
    display: inline;
    color: black;
}

.jumbotron span {
    color: black;
}

.menu {
    padding-right: 3em;
}

.border-outline {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3em;
    padding: 1em;
    box-shadow: rgb(54, 52, 52) 0px 0px 1px 0px;
}

.shadow {
    box-shadow: rgb(54, 52, 52) 1px 1px 10px 1px;
}

.table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(10, 10, 10, 0.4);
    color: white;
    font-weight: 700;
}

.table.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(10, 10, 10, 0.1);
    color: white;
    font-weight: 700;
}

ul h5 li a {
    color: white;
}

ul h5 li a:hover {
    color: blueviolet;
    text-decoration: none;
}